In [21]:
# Import pandas and numpy, DataFrame/Series
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

# Add items for matplotlib
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

#Read the contents of combined_sales.csv into a DataFrame
combined_sales = pd.read_csv("D:/IS362_Project2/Stores_Combined_Sales/combined_sales.csv")

#Display the contents of combined_sales.csv DataFrame
combined_sales

,Unnamed: 0,Unnamed: 1,Noblesville,Unnamed: 3,Bloomington,Unnamed: 5,Muncie,Unnamed: 7,South Bend,Unnamed: 9,Fort Wayne,Unnamed: 11
0,month,day,price,quantity,price,quantity,price,quantity,price,quantity,price,quantity
1,1,5,19.33,3046.82,19.33,3171.35,19.33,2942.51,19.33,2684.98,19.33,3532.17
2,1,12,19.99,2507.21,19.99,2403.33,19.99,2474.13,19.99,2951.52,19.99,3373.21
3,1,19,16.52,2804.91,16.52,2964.5,16.52,2316.93,16.52,3616.77,16.52,3750.32
4,1,26,20.55,2437.36,20.55,2314.52,20.55,3060.32,20.55,3201.39,20.55,3134.86
5,2,2,17.1,2410.06,17.1,3250.65,17.1,3170.67,17.1,2986.42,17.1,3142.79
6,2,9,14.77,2943.35,14.77,3122.1,14.77,3121.74,14.77,3580.43,14.77,3938.13
7,2,16,16.43,2568.06,16.43,3126.77,16.43,2787.18,16.43,3493.19,16.43,3438.85
8,2,23,16.07,2402.58,16.07,2888.91,16.07,3273.42,16.07,2672.23,16.07,3340.92
9,3,2,18.17,2643.34,18.17,3080.53,18.17,2648.28,18.17,3257.75,18.17,3371.94
10,3,9,19.5,2066.47,19.5,2367.28,19.5,2740.3,19.5,2453.43,19.5,3542.84
11,3,16,17.52,2494.26,17.52,3046.83,17.52,3062.76,17.52,3240.58,17.52,2990.16
12,3,23,16.91,2104.89,16.91,2965.77,16.91,3231.16,16.91,2815.97,16.91,3155.81
13,3,30,19.16,2909.63,19.16,2727.53,19.16,2670.73,19.16,3200.29,19.16,3541.26
14,4,6,15.29,2609.95,15.29,2759.62,15.29,2977.64,15.29,2977.31,15.29,3422.31
15,4,13,16.48,2887.02,16.48,3069.13,16.48,2779.64,16.48,3447.8,16.48,3619.76
16,4,20,18.55,2694.19,18.55,2700.18,18.55,3653.74,18.55,3249.67,18.55,3466.94
17,4,27,14.43,2774.91,14.43,2759.99,14.43,3069.68,14.43,3290.16,14.43,3326.43
18,5,4,19.02,2608.16,19.02,2494.33,19.02,3024.22,19.02,3239.25,19.02,2999.16
19,5,11,16.89,2704.68,16.89,3163.18,16.89,3531.47,16.89,3122.29,16.89,3290.8
20,5,18,19.13,2380.75,19.13,2606.53,19.13,2870.13,19.13,3097.92,19.13,3275.04
21,5,25,20.88,2353.8,20.88,2400.6,20.88,2886.23,20.88,2810.5,20.88,3186.1
22,6,1,15.55,2756.03,15.55,2334.54,15.55,3195.51,15.55,3658.41,15.55,4240.86
23,6,8,15.3,2885.81,15.3,3140.92,15.3,3148.81,15.3,3523.09,15.3,3673.83
24,6,15,19.11,2737.06,19.11,2846.98,19.11,3310.58,19.11,3310.81,19.11,3181.22
25,6,22,20.9,2674.71,20.9,2525.04,20.9,3076.38,20.9,2894.88,20.9,3221.76
26,6,29,14.95,2569.9,14.95,2471.46,14.95,3320.79,14.95,3436.16,14.95,3587.83
27,7,6,18.88,2240.93,18.88,2460.01,18.88,3056.42,18.88,3126.36,18.88,3349.71
28,7,13,15.86,2204.21,15.86,2987.77,15.86,3071.84,15.86,3643.51,15.86,3580.61
29,7,20,15.1,2779.01,15.1,3215.35,15.1,3090.89,15.1,3611.62,15.1,2632.33
30,7,27,17.69,2826.4,17.69,2491.97,17.69,2782.54,17.69,3866.82,17.69,3044.88
31,8,3,17.87,2466.42,17.87,3334.09,17.87,2718.4,17.87,4081.96,17.87,3543.61
32,8,10,17.57,2706.79,17.57,2713.22,17.57,3206.7,17.57,3592.13,17.57,3484.34
33,8,17,15.28,3048.11,15.28,2979.35,15.28,3143.86,15.28,3591.22,15.28,3896.17
34,8,24,15.33,2784.47,15.33,2688.82,15.33,3629.45,15.33,3350.23,15.33,3591.39
35,8,31,14.87,2446.74,14.87,2955.28,14.87,2843.36,14.87,3538.81,14.87,4001.41
36,9,7,19.14,2989.07,19.14,2652.3,19.14,2982.74,19.14,2761.2,19.14,3385.28
37,9,14,14.05,2495.71,14.05,2310.91,14.05,3307.52,14.05,3676.32,14.05,3759.64
38,9,21,17.39,2468.68,17.39,2929.62,17.39,2932.35,17.39,3476.98,17.39,2438.58
39,9,28,15.66,2856.53,15.66,3022.48,15.66,3097.35,15.66,3882.08,15.66,3397.76
40,10,5,19.9,2719.15,19.9,2771.92,19.9,2502.58,19.9,3298.3,19.9,3543.51
41,10,12,19.73,2556.49,19.73,3052.06,19.73,3137,19.73,3377.37,19.73,2874.24
42,10,19,15.87,3183.54,15.87,3437.98,15.87,3047.65,15.87,3125.01,15.87,3397.08
43,10,26,16.57,3195.47,16.57,3017.36,16.57,2695.42,16.57,2918.18,16.57,3487.44
44,11,2,18,2572.29,18,2870.25,18,3033.22,18,3211.08,18,3156.16
45,11,9,17.67,2578.15,17.67,2829.8,17.67,3225.66,17.67,2670.5,17.67,3256.36
46,11,16,20.17,2465.32,20.17,2760.84,20.17,3594.68,20.17,2975.29,20.17,2875.16
47,11,23,17.8,2236.63,17.8,3362.82,17.8,3163.97,17.8,2705.03,17.8,3748.35
48,11,30,16.83,2787.25,16.83,2755.77,16.83,2800.79,16.83,3296.21,16.83,3876.4
49,12,7,16.99,2999.73,16.99,2628.37,16.99,3173.29,16.99,2857.73,16.99,3867.39
50,12,14,17.09,2635.09,17.09,2223.83,17.09,3373.97,17.09,3247.12,17.09,3392.04
51,12,21,14.74,3032.97,14.74,3021.31,14.74,3462.17,14.74,3168.57,14.74,3211.84
52,12,28,18.23,2806.39,18.23,2978.85,18.23,3083.65,18.23,3270.24,18.23,3415.61

In [15]:
# Create a new DataFrame
noblesville = combined_sales.copy()

# Remove the columns "Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"
noblesville.drop(["Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"], 
                 axis=1, inplace=True)

# Rename columns in the Noblesville dataset
noblesville.rename(columns = {'Unnamed: 0':'Month', 'Unnamed: 1':'Day','Noblesville':'Price','Unnamed: 3':'Quantity'}, 
                   inplace = True)

# Drop the first row that contained the previous labels
noblesville.drop([0], inplace = True )

# Sort Dataframe by Month
noblesville.sort_values(by='Month', inplace=True,)

# Display the results of Noblesville
noblesville

   Month Day  Price Quantity
1      1   5  19.33  3046.82
2      1  12  19.99  2507.21
3      1  19  16.52  2804.91
4      1  26  20.55  2437.36
43    10  26  16.57  3195.47
42    10  19  15.87  3183.54
41    10  12  19.73  2556.49
40    10   5   19.9  2719.15
48    11  30  16.83  2787.25
47    11  23   17.8  2236.63
46    11  16  20.17  2465.32
45    11   9  17.67  2578.15
44    11   2     18  2572.29
50    12  14  17.09  2635.09
49    12   7  16.99  2999.73
51    12  21  14.74  3032.97
52    12  28  18.23  2806.39
5      2   2   17.1  2410.06
6      2   9  14.77  2943.35
7      2  16  16.43  2568.06
8      2  23  16.07  2402.58
13     3  30  19.16  2909.63
12     3  23  16.91  2104.89
11     3  16  17.52  2494.26
9      3   2  18.17  2643.34
10     3   9   19.5  2066.47
16     4  20  18.55  2694.19
14     4   6  15.29  2609.95
17     4  27  14.43  2774.91
15     4  13  16.48  2887.02
21     5  25  20.88   2353.8
20     5  18  19.13  2380.75
19     5  11  16.89  2704.68
18     5   4  19.02  2608.16
26     6  29  14.95   2569.9
22     6   1  15.55  2756.03
23     6   8   15.3  2885.81
24     6  15  19.11  2737.06
25     6  22   20.9  2674.71
29     7  20   15.1  2779.01
27     7   6  18.88  2240.93
28     7  13  15.86  2204.21
30     7  27  17.69   2826.4
35     8  31  14.87  2446.74
31     8   3  17.87  2466.42
32     8  10  17.57  2706.79
33     8  17  15.28  3048.11
34     8  24  15.33  2784.47
39     9  28  15.66  2856.53
38     9  21  17.39  2468.68
37     9  14  14.05  2495.71
36     9   7  19.14  2989.07

In [52]:
# Calculate the quantity each recorded day of each month
nobs_avg = noblesville.groupby(['Month','Day'])['Quantity'].mean()

# Display the quantity each recorded day of each month
nobs_avg

Month  Day
1      12     2507.21
       19     2804.91
       26     2437.36
       5      3046.82
10     12     2556.49
       19     3183.54
       26     3195.47
       5      2719.15
11     16     2465.32
       2      2572.29
       23     2236.63
       30     2787.25
       9      2578.15
12     14     2635.09
       21     3032.97
       28     2806.39
       7      2999.73
2      16     2568.06
       2      2410.06
       23     2402.58
       9      2943.35
3      16     2494.26
       2      2643.34
       23     2104.89
       30     2909.63
       9      2066.47
4      13     2887.02
       20     2694.19
       27     2774.91
       6      2609.95
5      11     2704.68
       18     2380.75
       25     2353.80
       4      2608.16
6      1      2756.03
       15     2737.06
       22     2674.71
       29     2569.90
       8      2885.81
7      13     2204.21
       20     2779.01
       27     2826.40
       6      2240.93
8      10     2706.79
       17     3048.11
       24     2784.47
       3      2466.42
       31     2446.74
9      14     2495.71
       21     2468.68
       28     2856.53
       7      2989.07
Name: Quantity, dtype: float64

In [19]:
# Calculate the lowest quantity for the month
nobs_min = noblesville.groupby(['Month'])['Quantity'].min()

# Display the lowest quantity for the month
nobs_min

Month
1     2437.36
10    2556.49
11    2236.63
12    2635.09
2     2402.58
3     2066.47
4     2609.95
5      2353.8
6      2569.9
7     2204.21
8     2446.74
9     2468.68
Name: Quantity, dtype: object

In [25]:
# Calculate the highest quantity for the month
nobs_min = noblesville.groupby(['Month'])['Quantity'].max()

# Display the highest quantity for the month
nobs_min

Month
1     3046.82
10    3195.47
11    2787.25
12    3032.97
2     2943.35
3     2909.63
4     2887.02
5     2704.68
6     2885.81
7      2826.4
8     3048.11
9     2989.07
Name: Quantity, dtype: object

In [28]:
# Create a new DataFrame
bloomington = combined_sales.copy()

# Remove the columns "Noblesville", "Unnamed: 3", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"
bloomington.drop(["Noblesville", "Unnamed: 3", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"], 
                 axis=1, inplace=True)

# Rename columns in the Bloomington dataset
bloomington.rename(columns = {'Unnamed: 0':'Month', 'Unnamed: 1':'Day','Bloomington':'Price','Unnamed: 5':'Quantity'}, 
                   inplace = True)

# Drop the first row that contained the previous labels
bloomington.drop([0], inplace = True )

# Sort Dataframe by Month
bloomington.sort_values(by='Month', inplace=True,)

# Display the results of Noblesville
bloomington

   Month Day  Price Quantity
1      1   5  19.33  3171.35
2      1  12  19.99  2403.33
3      1  19  16.52   2964.5
4      1  26  20.55  2314.52
43    10  26  16.57  3017.36
42    10  19  15.87  3437.98
41    10  12  19.73  3052.06
40    10   5   19.9  2771.92
48    11  30  16.83  2755.77
47    11  23   17.8  3362.82
46    11  16  20.17  2760.84
45    11   9  17.67   2829.8
44    11   2     18  2870.25
50    12  14  17.09  2223.83
49    12   7  16.99  2628.37
51    12  21  14.74  3021.31
52    12  28  18.23  2978.85
5      2   2   17.1  3250.65
6      2   9  14.77   3122.1
7      2  16  16.43  3126.77
8      2  23  16.07  2888.91
13     3  30  19.16  2727.53
12     3  23  16.91  2965.77
11     3  16  17.52  3046.83
9      3   2  18.17  3080.53
10     3   9   19.5  2367.28
16     4  20  18.55  2700.18
14     4   6  15.29  2759.62
17     4  27  14.43  2759.99
15     4  13  16.48  3069.13
21     5  25  20.88   2400.6
20     5  18  19.13  2606.53
19     5  11  16.89  3163.18
18     5   4  19.02  2494.33
26     6  29  14.95  2471.46
22     6   1  15.55  2334.54
23     6   8   15.3  3140.92
24     6  15  19.11  2846.98
25     6  22   20.9  2525.04
29     7  20   15.1  3215.35
27     7   6  18.88  2460.01
28     7  13  15.86  2987.77
30     7  27  17.69  2491.97
35     8  31  14.87  2955.28
31     8   3  17.87  3334.09
32     8  10  17.57  2713.22
33     8  17  15.28  2979.35
34     8  24  15.33  2688.82
39     9  28  15.66  3022.48
38     9  21  17.39  2929.62
37     9  14  14.05  2310.91
36     9   7  19.14   2652.3

In [51]:
# Calculate the quantity each recorded day of each month
bloom_avg = bloomington.groupby(['Month','Day'])['Quantity'].mean()

# Display the quantity each recorded day of each month
bloom_avg

Month  Day
1      12     2403.33
       19     2964.50
       26     2314.52
       5      3171.35
10     12     3052.06
       19     3437.98
       26     3017.36
       5      2771.92
11     16     2760.84
       2      2870.25
       23     3362.82
       30     2755.77
       9      2829.80
12     14     2223.83
       21     3021.31
       28     2978.85
       7      2628.37
2      16     3126.77
       2      3250.65
       23     2888.91
       9      3122.10
3      16     3046.83
       2      3080.53
       23     2965.77
       30     2727.53
       9      2367.28
4      13     3069.13
       20     2700.18
       27     2759.99
       6      2759.62
5      11     3163.18
       18     2606.53
       25     2400.60
       4      2494.33
6      1      2334.54
       15     2846.98
       22     2525.04
       29     2471.46
       8      3140.92
7      13     2987.77
       20     3215.35
       27     2491.97
       6      2460.01
8      10     2713.22
       17     2979.35
       24     2688.82
       3      3334.09
       31     2955.28
9      14     2310.91
       21     2929.62
       28     3022.48
       7      2652.30
Name: Quantity, dtype: float64

In [36]:
# Calculate the lowest quantity for the month
bloom_min = bloomington.groupby(['Month'])['Quantity'].min()

# Display the lowest quantity for the month
bloom_min

Month
1     2314.52
10    2771.92
11    2755.77
12    2223.83
2     2888.91
3     2367.28
4     2700.18
5      2400.6
6     2334.54
7     2460.01
8     2688.82
9     2310.91
Name: Quantity, dtype: object

In [37]:
# Calculate the highest quantity for the month
bloom_max = bloomington.groupby(['Month'])['Quantity'].max()

# Display the highest quantity for the month
bloom_max

Month
1     3171.35
10    3437.98
11    3362.82
12    3021.31
2     3250.65
3     3080.53
4     3069.13
5     3163.18
6     3140.92
7     3215.35
8     3334.09
9     3022.48
Name: Quantity, dtype: object

In [34]:
# Create a new DataFrame
muncie = combined_sales.copy()

# Remove the columns "Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"
muncie.drop(["Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "South Bend", "Unnamed: 9", "Fort Wayne", "Unnamed: 11"], 
                 axis=1, inplace=True)

# Rename columns in the Muncie dataset
muncie.rename(columns = {'Unnamed: 0':'Month', 'Unnamed: 1':'Day','Muncie':'Price','Unnamed: 7':'Quantity'}, 
                   inplace = True)

# Drop the first row that contained the previous labels
muncie.drop([0], inplace = True )

# Sort Dataframe by Month
muncie.sort_values(by='Month', inplace=True,)

# Display the results of Noblesville
muncie

   Month Day  Price Quantity
1      1   5  19.33  2942.51
2      1  12  19.99  2474.13
3      1  19  16.52  2316.93
4      1  26  20.55  3060.32
43    10  26  16.57  2695.42
42    10  19  15.87  3047.65
41    10  12  19.73     3137
40    10   5   19.9  2502.58
48    11  30  16.83  2800.79
47    11  23   17.8  3163.97
46    11  16  20.17  3594.68
45    11   9  17.67  3225.66
44    11   2     18  3033.22
50    12  14  17.09  3373.97
49    12   7  16.99  3173.29
51    12  21  14.74  3462.17
52    12  28  18.23  3083.65
5      2   2   17.1  3170.67
6      2   9  14.77  3121.74
7      2  16  16.43  2787.18
8      2  23  16.07  3273.42
13     3  30  19.16  2670.73
12     3  23  16.91  3231.16
11     3  16  17.52  3062.76
9      3   2  18.17  2648.28
10     3   9   19.5   2740.3
16     4  20  18.55  3653.74
14     4   6  15.29  2977.64
17     4  27  14.43  3069.68
15     4  13  16.48  2779.64
21     5  25  20.88  2886.23
20     5  18  19.13  2870.13
19     5  11  16.89  3531.47
18     5   4  19.02  3024.22
26     6  29  14.95  3320.79
22     6   1  15.55  3195.51
23     6   8   15.3  3148.81
24     6  15  19.11  3310.58
25     6  22   20.9  3076.38
29     7  20   15.1  3090.89
27     7   6  18.88  3056.42
28     7  13  15.86  3071.84
30     7  27  17.69  2782.54
35     8  31  14.87  2843.36
31     8   3  17.87   2718.4
32     8  10  17.57   3206.7
33     8  17  15.28  3143.86
34     8  24  15.33  3629.45
39     9  28  15.66  3097.35
38     9  21  17.39  2932.35
37     9  14  14.05  3307.52
36     9   7  19.14  2982.74

In [50]:
# Calculate the quantity each recorded day of each month
mun_avg = muncie.groupby(['Month','Day'])['Quantity'].mean()

# Display the quantity each recorded day of each month
mun_avg

Month  Day
1      12     2474.13
       19     2316.93
       26     3060.32
       5      2942.51
10     12     3137.00
       19     3047.65
       26     2695.42
       5      2502.58
11     16     3594.68
       2      3033.22
       23     3163.97
       30     2800.79
       9      3225.66
12     14     3373.97
       21     3462.17
       28     3083.65
       7      3173.29
2      16     2787.18
       2      3170.67
       23     3273.42
       9      3121.74
3      16     3062.76
       2      2648.28
       23     3231.16
       30     2670.73
       9      2740.30
4      13     2779.64
       20     3653.74
       27     3069.68
       6      2977.64
5      11     3531.47
       18     2870.13
       25     2886.23
       4      3024.22
6      1      3195.51
       15     3310.58
       22     3076.38
       29     3320.79
       8      3148.81
7      13     3071.84
       20     3090.89
       27     2782.54
       6      3056.42
8      10     3206.70
       17     3143.86
       24     3629.45
       3      2718.40
       31     2843.36
9      14     3307.52
       21     2932.35
       28     3097.35
       7      2982.74
Name: Quantity, dtype: float64

In [43]:
# Calculate the lowest quantity for the month
mun_min = muncie.groupby(['Month'])['Quantity'].min()

# Display the lowest quantity for the month
mun_min

Month
1     2316.93
10    2502.58
11    2800.79
12    3083.65
2     2787.18
3     2648.28
4     2779.64
5     2870.13
6     3076.38
7     2782.54
8      2718.4
9     2932.35
Name: Quantity, dtype: object

In [39]:
# Calculate the highest quantity for the month
mun_max = muncie.groupby(['Month'])['Quantity'].max()

# Display the highest quantity for the month
mun_max

Month
1     3060.32
10       3137
11    3594.68
12    3462.17
2     3273.42
3     3231.16
4     3653.74
5     3531.47
6     3320.79
7     3090.89
8     3629.45
9     3307.52
Name: Quantity, dtype: object

In [46]:
# Create a new DataFrame
southbend = combined_sales.copy()

# Remove the columns "Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "Fort Wayne", "Unnamed: 11"
southbend.drop(["Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "Fort Wayne", "Unnamed: 11"], 
                 axis=1, inplace=True)

# Rename columns in the South Bend dataset
southbend.rename(columns = {'Unnamed: 0':'Month', 'Unnamed: 1':'Day','South Bend':'Price','Unnamed: 9':'Quantity'}, 
                   inplace = True)

# Drop the first row that contained the previous labels
southbend.drop([0], inplace = True )

# Sort Dataframe by Month
southbend.sort_values(by='Month', inplace=True,)

# Display the results of South Bend
southbend

   Month Day  Price Quantity
1      1   5  19.33  2684.98
2      1  12  19.99  2951.52
3      1  19  16.52  3616.77
4      1  26  20.55  3201.39
43    10  26  16.57  2918.18
42    10  19  15.87  3125.01
41    10  12  19.73  3377.37
40    10   5   19.9   3298.3
48    11  30  16.83  3296.21
47    11  23   17.8  2705.03
46    11  16  20.17  2975.29
45    11   9  17.67   2670.5
44    11   2     18  3211.08
50    12  14  17.09  3247.12
49    12   7  16.99  2857.73
51    12  21  14.74  3168.57
52    12  28  18.23  3270.24
5      2   2   17.1  2986.42
6      2   9  14.77  3580.43
7      2  16  16.43  3493.19
8      2  23  16.07  2672.23
13     3  30  19.16  3200.29
12     3  23  16.91  2815.97
11     3  16  17.52  3240.58
9      3   2  18.17  3257.75
10     3   9   19.5  2453.43
16     4  20  18.55  3249.67
14     4   6  15.29  2977.31
17     4  27  14.43  3290.16
15     4  13  16.48   3447.8
21     5  25  20.88   2810.5
20     5  18  19.13  3097.92
19     5  11  16.89  3122.29
18     5   4  19.02  3239.25
26     6  29  14.95  3436.16
22     6   1  15.55  3658.41
23     6   8   15.3  3523.09
24     6  15  19.11  3310.81
25     6  22   20.9  2894.88
29     7  20   15.1  3611.62
27     7   6  18.88  3126.36
28     7  13  15.86  3643.51
30     7  27  17.69  3866.82
35     8  31  14.87  3538.81
31     8   3  17.87  4081.96
32     8  10  17.57  3592.13
33     8  17  15.28  3591.22
34     8  24  15.33  3350.23
39     9  28  15.66  3882.08
38     9  21  17.39  3476.98
37     9  14  14.05  3676.32
36     9   7  19.14   2761.2

In [49]:
# Calculate the quantity each recorded day of each month
sb_avg = southbend.groupby(['Month','Day'])['Quantity'].mean()

# Display the quantity each recorded day of each month
sb_avg

Month  Day
1      12     2951.52
       19     3616.77
       26     3201.39
       5      2684.98
10     12     3377.37
       19     3125.01
       26     2918.18
       5      3298.30
11     16     2975.29
       2      3211.08
       23     2705.03
       30     3296.21
       9      2670.50
12     14     3247.12
       21     3168.57
       28     3270.24
       7      2857.73
2      16     3493.19
       2      2986.42
       23     2672.23
       9      3580.43
3      16     3240.58
       2      3257.75
       23     2815.97
       30     3200.29
       9      2453.43
4      13     3447.80
       20     3249.67
       27     3290.16
       6      2977.31
5      11     3122.29
       18     3097.92
       25     2810.50
       4      3239.25
6      1      3658.41
       15     3310.81
       22     2894.88
       29     3436.16
       8      3523.09
7      13     3643.51
       20     3611.62
       27     3866.82
       6      3126.36
8      10     3592.13
       17     3591.22
       24     3350.23
       3      4081.96
       31     3538.81
9      14     3676.32
       21     3476.98
       28     3882.08
       7      2761.20
Name: Quantity, dtype: float64

In [44]:
# Calculate the highest quantity for the month
sb_max = southbend.groupby(['Month'])['Quantity'].max()

# Display the lowest quantity for the month
sb_max

Month
1     3616.77
10    3377.37
11    3296.21
12    3270.24
2     3580.43
3     3257.75
4      3447.8
5     3239.25
6     3658.41
7     3866.82
8     4081.96
9     3882.08
Name: Quantity, dtype: object

In [45]:
# Calculate the lowest quantity for the month
sb_min = southbend.groupby(['Month'])['Quantity'].min()

# Display the lowest quantity for the month
sb_min

Month
1     2684.98
10    2918.18
11     2670.5
12    2857.73
2     2672.23
3     2453.43
4     2977.31
5      2810.5
6     2894.88
7     3126.36
8     3350.23
9      2761.2
Name: Quantity, dtype: object

In [47]:
# Create a new DataFrame
fortwayne = combined_sales.copy()

# Remove the columns "Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9"
fortwayne.drop(["Noblesville", "Unnamed: 3", "Bloomington", "Unnamed: 5", "Muncie", "Unnamed: 7", "South Bend", "Unnamed: 9"], 
                 axis=1, inplace=True)

# Rename columns in the Fort Wayne dataset
fortwayne.rename(columns = {'Unnamed: 0':'Month', 'Unnamed: 1':'Day','Fort Wayne':'Price','Unnamed: 11':'Quantity'}, 
                   inplace = True)

# Drop the first row that contained the previous labels
fortwayne.drop([0], inplace = True )

# Sort Dataframe by Month
fortwayne.sort_values(by='Month', inplace=True,)

# Display the results of Fort Wayne
fortwayne

   Month Day  Price Quantity
1      1   5  19.33  3532.17
2      1  12  19.99  3373.21
3      1  19  16.52  3750.32
4      1  26  20.55  3134.86
43    10  26  16.57  3487.44
42    10  19  15.87  3397.08
41    10  12  19.73  2874.24
40    10   5   19.9  3543.51
48    11  30  16.83   3876.4
47    11  23   17.8  3748.35
46    11  16  20.17  2875.16
45    11   9  17.67  3256.36
44    11   2     18  3156.16
50    12  14  17.09  3392.04
49    12   7  16.99  3867.39
51    12  21  14.74  3211.84
52    12  28  18.23  3415.61
5      2   2   17.1  3142.79
6      2   9  14.77  3938.13
7      2  16  16.43  3438.85
8      2  23  16.07  3340.92
13     3  30  19.16  3541.26
12     3  23  16.91  3155.81
11     3  16  17.52  2990.16
9      3   2  18.17  3371.94
10     3   9   19.5  3542.84
16     4  20  18.55  3466.94
14     4   6  15.29  3422.31
17     4  27  14.43  3326.43
15     4  13  16.48  3619.76
21     5  25  20.88   3186.1
20     5  18  19.13  3275.04
19     5  11  16.89   3290.8
18     5   4  19.02  2999.16
26     6  29  14.95  3587.83
22     6   1  15.55  4240.86
23     6   8   15.3  3673.83
24     6  15  19.11  3181.22
25     6  22   20.9  3221.76
29     7  20   15.1  2632.33
27     7   6  18.88  3349.71
28     7  13  15.86  3580.61
30     7  27  17.69  3044.88
35     8  31  14.87  4001.41
31     8   3  17.87  3543.61
32     8  10  17.57  3484.34
33     8  17  15.28  3896.17
34     8  24  15.33  3591.39
39     9  28  15.66  3397.76
38     9  21  17.39  2438.58
37     9  14  14.05  3759.64
36     9   7  19.14  3385.28

In [48]:
# Calculate the quantity each recorded day of each month
fortway_avg = fortwayne.groupby(['Month','Day'])['Quantity'].mean()

# Display the quantity each recorded day of each month
fortway_avg

Month  Day
1      12     3373.21
       19     3750.32
       26     3134.86
       5      3532.17
10     12     2874.24
       19     3397.08
       26     3487.44
       5      3543.51
11     16     2875.16
       2      3156.16
       23     3748.35
       30     3876.40
       9      3256.36
12     14     3392.04
       21     3211.84
       28     3415.61
       7      3867.39
2      16     3438.85
       2      3142.79
       23     3340.92
       9      3938.13
3      16     2990.16
       2      3371.94
       23     3155.81
       30     3541.26
       9      3542.84
4      13     3619.76
       20     3466.94
       27     3326.43
       6      3422.31
5      11     3290.80
       18     3275.04
       25     3186.10
       4      2999.16
6      1      4240.86
       15     3181.22
       22     3221.76
       29     3587.83
       8      3673.83
7      13     3580.61
       20     2632.33
       27     3044.88
       6      3349.71
8      10     3484.34
       17     3896.17
       24     3591.39
       3      3543.61
       31     4001.41
9      14     3759.64
       21     2438.58
       28     3397.76
       7      3385.28
Name: Quantity, dtype: float64

In [53]:
# Calculate the highest quantity for the month
fortway_max = fortwayne.groupby(['Month'])['Quantity'].max()

# Display the lowest quantity for the month
fortway_max

Month
1     3750.32
10    3543.51
11     3876.4
12    3867.39
2     3938.13
3     3542.84
4     3619.76
5      3290.8
6     4240.86
7     3580.61
8     4001.41
9     3759.64
Name: Quantity, dtype: object

In [54]:
# Calculate the lowest quantity for the month
fortway_min = fortwayne.groupby(['Month'])['Quantity'].min()

# Display the lowest quantity for the month
fortway_min

Month
1     3134.86
10    2874.24
11    2875.16
12    3211.84
2     3142.79
3     2990.16
4     3326.43
5     2999.16
6     3181.22
7     2632.33
8     3484.34
9     2438.58
Name: Quantity, dtype: object